@media only screen and (max-width:1367px){
	.brand-box .insd-box .imgbox img{
		height:80px;
	}
	.cp-wrap{
		padding-top: 0;
	}
	.m-level-1{margin-right: -3.3%;}
}
@media only screen and (max-width:1281px){
	.cp-wrap h1{
	    font-size: 56px;
	    line-height: 56px;
	}
	.wrapper{padding: 0 15px}
	.our-brand h2 br{display: none}
	.our-brand h2{
		font-size: 54px;
	}
	h2{font-size:36px}
	.values-sec .col{
		/*flex: 0 0 auto;
    	width: 33.33333333%;*/
    	padding-bottom:30px;
	}
	.bgimg{width:25%}
	.values-sec .col{
		flex: 0 0 auto;
		max-width: 33.333%;
	}
	.txt-1{padding-right:400px}
	.m-level-1{
		margin-right: -8.3%;
	}
	.sp-col-1{padding-right:70px}
}
@media only screen and (max-width:1024px){
	body{padding-top:60px}
	.mb-menu{display: block}
	.lft-sec{display: none}
	.cp-wrap h1{
		font-size: 37px;
		line-height: 40px;
	}
	.cp-wrap{max-width:70%;}

	header{background: #D9D9D9;position: fixed;}
	header .logo img {
	    -webkit-filter: invert(0);
	    filter: invert(0);
	}
	.tpFlex{
		height: 60px;
	}
	.mb-menu, .mb-close{top:13px}
	.bgimg{width:30%}
	.p-lft-60{padding-left:0;padding-bottom:20px}
}
@media only screen and (max-width:979px){
	.bgimg{width: 45%;}
	.pd-3{padding-top: 40px;padding-bottom: 40px}
	.sub-title{font-size: 18px}
	.our-brand h2{text-align: left}
	.values-sec .col{
		flex: 0 0 auto;
		max-width: 50%;
	}
	.cp-wrap .cp-col span{width:35px;}
	.cp-wrap .cp-col{padding-left:50px}
	.cp-wrap p.py-4{padding:15px 0 !important;margin-bottom: 0}
	.arrow{bottom: 7px;width: 36px;height: 36px;background-size: 100%;}
	.brand-box:before{display: none}
}
@media only screen and (max-width:767px){
	.values-sec .col{
		flex: 0 0 auto;
    	width: 100%;
	}
	.our-brand h2 {
	    font-size: 27px;
	    text-align: left;
	}
	.partner-glry{
		height:350px;
	}
	h2 {
	    font-size: 27px;
	    line-height: 35px;
	}
	.brand-box{
		background: #000;
	}
	.brand-box .insd-box, .brand-box .title{
		position: static;
		padding-top:15px;
		border:0;
	}
	.brand-box:after{display: none}
	.brand-box:hover .title{
		transform: translate(0, 0);
	}
	.bgimg{width: 35%;}
	.txt-1{padding-right:0}
	.banner video{
		object-fit: cover;
		height: 450px;
		object-position: left;
	}
	.cp-wrap .cp-col span{
		left: 6px;
	}
	.cp-wrap .cp-col span {
	    width: 30px;
	}
	.cp-wrap .cp-col{
		padding-left: 42px;
    	font-size: 14px;
	}
	.col-4{padding: 5px 0 !important}
	.sp-col-1 {
	    padding-right: 10px;
	}
}
@media only screen and (max-width:639px){
	.cp-wrap{max-width:100%}
	.cp-wrap h1{font-size:25px;line-height:30px}
	.values-sec .col{
		flex: 0 0 auto;
		max-width: 100%;
	}
	.txt-2{padding-right: 130px}
	.bgimg{width:43%}
	.gap-btw{gap: 60px}
}
@media only screen and (max-width:500px){
	.inner-sec > img {height:400px;object-fit: cover;object-position: center;}
}
@media only screen and (max-width:479px){
	.bgimg{width: 55%;}
	.mb-menu-wrap{width:97%}
}
@media only screen and (max-width:445px){
	.cp-wrap .col-4{
		width: 50%;
	}
	.inner-sec > img{
		height:430px;
	}
	.banner.inner-sec .wrapper{padding-top: 25px; align-items: normal;}
	.inner-sec .cp-wrap p.py-4{font-size:16px;}
	.inner-sec .cp-wrap h1{margin-bottom: 0}
}
@media only screen and (max-width:379px){
	.sp-row{flex-flow: column;text-align: center;}
	.sp-col-1{padding-bottom: 15px;font-size:14px}
}